#root {
  max-width: 100%;
  margin: 4em;
  padding: 0.5em;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-button {
  background-color: #44352F;
  color: white;
  font-weight: bold;
  font-size: 25px;

  width: 175px;
  height: 40px;

  position: absolute;
  top: 450px;
  left: 290px;

  padding: 2px;

  border-radius: 20px;
  border: none;

}

.login-button:focus {
  outline: none;
}

.login-button:hover {
  background-color: #5E5145;
  border: none;
}